<footer class="shadow__top">
  <div class="footer-menu container">
      <ul>
          <li class="text__sub__accent">
              Quick Links
          </li>
          <li class="text__sub__normal">
              Fillter
          </li>
          <li class="text__sub__normal">
              Notifications
          </li>
          <li class="text__sub__normal">
              Calendar
          </li>
      </ul>
      <ul>
          <li class="text__sub__accent">
              Social Medias
          </li>
          <li class="text__sub__normal">
              Facebook
          </li>
          <li class="text__sub__normal">
              Instagram
          </li>
          <li class="text__sub__normal">
              LinkedIn
          </li>
          <li class="text__sub__normal">
              TikTok
          </li>
      </ul>
      <ul>
          <li class="text__sub__accent">
              Useful Links
          </li>
          <li class="text__sub__normal">
              Report Problem
          </li>
          <li class="text__sub__normal">
              Contact Us
          </li>
          <li class="text__sub__normal">
              FAQ
          </li>
      </ul>
  </div>
  <div class="footer-copy text__sub__accent shadow back__purple__opacity">
      Copyright © 2023 SocialTown. All Rights Reserved. InTime
  </div>
</footer>