
/* answer__comment */

.answer__comment {
    width: 100%;
    margin-top: 1em;
   
}

.answer__comment p {
    flex-basis: 15%;
    padding-bottom: 0.3em;
}


.answer textarea {
    width: 100%;
    border-radius: 0.5rem;
}
.comment__area {
    min-width: 100%
}