<div *ngIf="!!event; else loadingIndicator" class="event-content margin__t margin__b">

    <div class="event-info-holder">
        <div class="">
            <p class="margin__b">Subscribers: <span>{{event.subscribers.length}}</span></p>
            <div class="flex__row__space" *ngIf="(isLoggedIn$ | async)">
                <div class="event-subscribe-btns">
                    <button (click)='subscribe()' *ngIf="canSubscribe" class="subscribe btn__primary">
                        <fa-icon [icon]="icons.favoriteIcon"></fa-icon>
                        Add to Favorites
                    </button>
                    <button (click)='unsubscribe()' *ngIf="!canSubscribe" class="unsubscribe btn__secondary">
                        <fa-icon [icon]="icons.favoriteIcon"></fa-icon>
                        Remove from Favorites
                    </button>
                </div>
                <div class="event-action-btns">
                    <button [routerLink]="['/events', event._id, 'edit']" *ngIf="isUserOwner"
                        class="btn__primary">Edit</button>
                    <button (click)='deleteEvent()' *ngIf="isUserOwner" class="btn__secondary">Delete</button>
                </div>
            </div>
        </div>
        <!-- TODO add background video or image -->
        <img class="event__image margin__t margin__b" [src]="event.eventStaticPhoto" />
        <!-- TODO make video and img gallery for every event -->
        <!-- work with direct file urls -->
        <!-- <video width="320" height="240" controls>
            <source src={{event.eventVideoUrl}} type="video">
            Your browser does not support the video tag.
        </video> -->
        <!-- work with youtube share urls -->
        <iframe width="560" height="315" [src]="safeVideoUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <div class="event-time-info">
            <span class="text__sub__normal">on {{event.eventDate | date:'dd-MM-yy'}}, at </span>
            <span class="text__sub__normal margin__r">{{event.eventStartTime}}h </span>
            <span class="text__sub__normal">
                <fa-icon [icon]="icons.durationIcon"></fa-icon>
                {{event.eventDuration}} h.
            </span>
        </div>

        <h3 class="margin__t margin__b">{{event.eventName}}</h3>
        <p class="text__regular">{{event.eventPlace}}, {{event.eventCity}}</p>
        <p class="text__sub__normal margin__b">{{event.eventAddress}}</p>
        <div>
            <p class="text__sub__accent margin__b5">Type: {{event.eventType}}</p>
        </div>
        <div class="event-host-info-holder">
            <span class="text__sub__normal">Primary Host: {{event.userId}}</span>
        </div>

        <div *ngIf="event.eventIsLimitedGuest" class="margin__b margin__t">
            <span class="text__sub__normal">Guest number allow: {{event.eventNumberOfGuests}}</span>
        </div>
        <div>
            <p class="text__sub__accent margin__b5">Description: </p>
            <p  class="text__regular">{{event.eventDescription}}</p>
        </div>
    </div>


    <div *ngIf="(isLoggedIn$ | async)" class="answer__comment">
        <p class="text__sub__normal">
            <span class="text__sub__accent">{{currentUser.username}} </span>
            add comment here:
        </p>
        <div class="answer">
            <form #newPostForm="ngForm" (ngSubmit)="submitNewPost(event._id, newPostForm)">
                <textarea name="postText" id="comment" cols="30" rows="10" [(ngModel)]="newPostForm.value.postText"
                    (input)="postTextChanged($event)"></textarea>
                <div class="flex__row__end">
                    <button [class.disabled]="!canSubmitPost" class="btn__primary">Post</button>
                </div>
            </form>
        </div>
    </div>


    <div *ngIf="event.posts.length > 0">
        <app-aside [eventId]="event._id"></app-aside>
    </div>

</div>

<ng-template #loadingIndicator>
    Loading...
</ng-template>